<h1>Chatting as <%= current_user.name %></h1>
<div>
  <%= turbo_stream_from "messages" %>

  <turbo-frame id="messages">
    <%= render @messages %>
  </turbo-frame>

  <form action="/messages" method="post" data-turbo-frame="messages">
    <input type="text" name="message[content]">
    <button type="submit">Send</button>
  </form>
  <%= link_to 'back', root_path %>
</div>
