<h1>Chats#show</h1>
<div>
  <turbo-frame id="messages">
    <%= render @messages %>
  </turbo-frame>

  <form action="/messages" method="post" data-turbo-frame="messages">
    <input type="text" name="message[content]">
    <button type="submit">Send</button>
  </form>
</div>
